.hero-section {
 
  height: 200vh;
 
}
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.hero-content {
  text-align: center;
  z-index: 1;
}

.hero-title {
  font-size: 3rem;
  color: var(--text-color);
  margin-bottom: 1rem;
}

.primary-text {
  color: var(--primary-color);
}

.hero-description {
  font-size: 1.25rem;
  color: var(--secondary-text-color);
  max-width: 600px;
  margin: 0 auto;
}

.circles-container {
   position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  pointer-events: none; 
    /* position: absolute; */
  /* inset: 0; */
  perspective: 1200px;
  transform-style: preserve-3d;
}

.circle-item {
  position: absolute;
  width: 175px;
  height: 233px;
  border-radius: 8px;
  object-fit: cover;
  pointer-events: auto;
    will-change: transform;
}



.hero-footer {
  position: absolute;
  bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  color: var(--secondary-text-color);
}