.hero-section {
  height: 100vh;

}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  position: relative;
  overflow: hidden;
  z-index: 1;


}

.hero-content {
  text-align: center;
  z-index: 1;
}

.hero-title {
  font-size: 3rem;
  color: var(--text-color);
  margin-bottom: 1rem;
}



.hero-description {
  font-size: 1.25rem;
  color: var(--secondary-text-color);
  max-width: 600px;
  margin: 0 auto;
}

.circles-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  pointer-events: none;
  perspective: 1200px;
  transform-style: preserve-3d;
}

.circle-item {
  position: absolute;
  width: min(175px, 25vw);
  aspect-ratio: 3 /4;
  border-radius: 16px;
  box-shadow: 0 30px 80px rgba(0, 0, 0, 0.15);
  will-change: transform, opacity;
  object-fit: cover;
  pointer-events: auto;
}



.hero-footer {
  position: absolute;
  bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  color: var(--secondary-text-color);
}



@media (max-width:500px) {
  .hero-title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }



  .hero-description {
    font-size: 1rem;
    max-width: 90vw;
  }
}