#root {
 --primary-color: #1A52AE;
 --text-color:#000;
 --secondary-text-color: #464647;
}

html,
body,
#root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body { 
  font-family: system-ui, sans-serif;

}

